*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*css para index y gral*/
header{
    display: flex;
    justify-content: space-between;
}
nav{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
}
li{
    margin: 25px;
}
.logotipo{
    display: flex;
    width: 140px;
    margin-top: 10px;
}
section{
    background-color: #ffd529;
}
div.container {
    width: 50%;
    max-width: 200px;
}
.carousel-control-prev{
    margin-top: 25%;
}
.carousel-control-next{
    margin-top: 25%;
}
.breveInfo{
    background-color:#ffd529 ;
}
.card{
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
.card-body{
    background-color: #ffd529;
}
.centrado{
    margin-left: auto; 
    margin-right: auto;
    height:50%;
    width: 50%;
}
.frase1{
    background-color: brown;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0%;
}
.frase2{
    background-color: red;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0%;
}
.redes{
    background-color: #ffd529;
    font-size: 30px;
    text-align: center;
    font-family:  'Lobster', cursive;
    margin: 0%;
}
.r{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0%;
}

/*css Historia */

section{
    font-family:  'Lobster', cursive;
    text-align: center;
}
.parrafo1{
    background-color: rgba(255, 208, 0, 0.795);
}
.parrafo{
    color: white;
    font-size: 20px;
}
.parrafo2{
    background-color: white;
    font-size: 20px;
}

/*css para Contacto*/

.redesS{
    background-color: rgba(255, 123, 0, 0.952);
    font-size: 30px;
    text-align: center;
    font-family:  'Lobster', cursive;
    margin: 0%;
}