*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*css para index y gral*/
nav{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}
img{
    width: 100%;
    height: 50%;
}
.logotipo{
    width: 15%;
    height: 100%;
    margin-left: 40px;
}
.header{
    display: flex;
    justify-content:space-around;
}
.card{
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
.card-body{
    background-color: rgba(255, 174, 0, 0.753);
}
.local1{
    height:50%;
    width: 50%;
}
.frase1{
    background-color: brown;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0%;
}
.frase2{
    background-color: yellow;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0%;
}
.redes{
    background-color: rgb(0, 255, 55);
    font-size: 30px;
    text-align: center;
    font-family:  'Lobster', cursive;
    margin: 0%;
}
.r{
    background-color: blueviolet;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0%;
}

/*css Historia */

section{
    font-family:  'Lobster', cursive;
    text-align: center;
}
.parrafo1{
    background-color: rgba(255, 208, 0, 0.795);
}
.parrafo{
    color: white;
    font-size: 20px;
}
.parrafo2{
    background-color: white;
    font-size: 20px;
}
